/Cluster_shape/Notebooks/CLfreq_one/CLfreq_one_KDE.txt
/Cluster_shape/Notebooks/CLfreq_supervised/CLfreq_supervised_KDE.txt
/VCF_analysis/Simu_03-03-2019/data.vcf
/VCF_analysis/Simu_03-03-2019/inds/
/VCF_analysis/Simu_03-03-2019/data_val_g30d0.40s10.vcf
/VCF_analysis/Simu_03-03-2019/.ipynb_checkpoints/
/VCF_analysis/Simu_17-03-2019/data_val_g30d0.40s10.vcf
/VCF_analysis/Simu_17-03-2019/.ipynb_checkpoints/
/VCF_analysis/Simu_17-03-2019/inds/
/VCF_analysis/vcf_analysis/.ipynb_checkpoints/
/VCF_analysis/vcf_analysis/data_struct_manip.vcf
/VCF_analysis/vcf_analysis/data_custom.vcf
/VCF_analysis/vcf_analysis/data_beta.vcf
/VCF_analysis/vcf_analysis/data_number.vcf
/VCF_analysis/Extract/vcf/
/VCF_analysis/Extract/Figures/