/Cluster_shape/Notebooks/CLfreq_one/CLfreq_one_KDE.txt
/Cluster_shape/Notebooks/CLfreq_supervised/CLfreq_supervised_KDE.txt
/Cluster_shape/Simu_03-03-2019/data.vcf
/Cluster_shape/Simu_03-03-2019/data_val_g30d0.40s10.vcf
/Cluster_shape/Simu_03-03-2019/data_struct_manip.vcf
/Cluster_shape/Simu_03-03-2019/.ipynb_checkpoints/
/Simulate_genomes/vcf_analysis/.ipynb_checkpoints/
/Simulate_genomes/vcf_analysis/data_struct_manip.vcf
/Simulate_genomes/vcf_analysis/data_struct_manip.vcf
/Simulate_genomes/vcf_analysis/data_custom.vcf
/Simulate_genomes/vcf_analysis/data_beta.vcf